.selected 
{
    background-color: yellow;
}

#ingredient-list-section td
{
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

#FoodTable
{
    border: 2px solid black;
    margin: auto auto auto auto;
    /*margin: 50px 50px 50px 50px;*/
}
/* . is for a class, # is for a specific object ID */ 
.logocenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
