.selected 
{
    background-color: yellow;
}

#ingredient-list-section td
{
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

.logocenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
